*.iml
*.iws
*.eml
*.pdf
*.log
*.aux

presentation/out/
presentation/.DS_Store
presentation/.svn
presentation/log/*.log
presentation/tmp/**
presentation/node_modules/
presentation/.sass-cache
presentation/css/reveal.min.css
presentation/js/reveal.min.js
